<%= turbo_stream.replace "task-#{@task.id}" do %>

  <% is_done = current_user.completed?(@task) %>

  <div id="task-<%= @task.id %>"
       class="task-index-item <%= 'task-index-completed' if is_done %>"
       data-status="<%= is_done ? 'completed' : 'incomplete' %>">

    <label class="task-index-check-wrap">

      <div id="completed-button-for-task-<%= @task.id %>">
        <%= render "task_completions/completed_button", task: @task %>
      </div>

      <span class="task-index-name">
        <%= @task.name %>
      </span>

    </label>

  </div>

<% end %>